<div class="dashboard-container">

  <h1>Welcome to ShopEase 🛍️</h1>

  <p>Your one place for gaming accessories</p>

  <div class="card-container">

    <div class="dashboard-card products" routerLink="/products">
      <h2>Products</h2>
      <p>Browse all products</p>
    </div>

    <div class="dashboard-card cart" routerLink="/cart">
      <h2>Cart</h2>
      <p>View your cart items</p>
    </div>

    <div class="dashboard-card orders" routerLink="/order-history">
      <h2>Orders</h2>
      <p>Check your orders history</p>
    </div>

  </div>

</div>