.product-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.product-card{
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.product-img{
  width: 100%;
  height: 160px;
  object-fit: contain;
  margin-bottom: 10px;
}

button{
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background: #0056b3;
}

/* search bar */
.search-box{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input{
  width:250px;
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:14px;
}
.search-box button{
  padding:10px 15px;
  background:#007bff;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

.search-box button:hover{
  background:#0056b3;
}

.price{
  font-weight: bold;
  color: #28a745;
}